.button {
    display: inline-block;
    padding: 12px;
    min-width: 115px;
    margin-left: 11px;
    text-align: center;
    border: none;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}
